<div class="flex flex-col flex-auto text-center ">
  {{!-- cover image --}}

  {{!-- title of book --}}
  <h2>{{name}}</h2>

  <p>Insert author here</p>

  {{!-- description --}}
  <p>{{description}}</p>

  {{!-- Comments --}}
</div>
